<!DOCTYPE html>
<html lang="en">
<style>
    @import url(/stylesheets/category.css);
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Account List</title>
    <link rel="stylesheet" href="/assetsViewWaitingTutor/styleViewAccountList.css">
    <link rel="stylesheet" href="/pagination.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="page-view-account-list">

        <div class="main--content">
            <div class="header--wrapper">
                <div class="header--title">
                    <span>Primary</span>

                    <h2>View Waiting List</h2>
                </div>

                <div class="user--infor">
                    <div class="search--box">
                        <i class="fa-solid fa-search"></i>
                        <input type="text" id="search-information" placeholder="Search">
                    </div>
                </div>
            </div>
            <div class="list-account-container">
                <h3 class="main--title">List Account</h3>


                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>GPA</th>
                                <th>price</th>
                                <th>Date</th>

                            </tr>
                        <tbody id="list-account">

                            {{#each tutorList}}
                            <tr onclick="loadDetailUser('{{this._id}}')">
                                <td>
                                    {{this.tutorId.fullname}}
                                </td>
                                <td>
                                    {{this.tutorId.email}}
                                </td>
                                <td>
                                    {{this.tutorId.GPA}}
                                </td>
                                <td>
                                    {{this.price}}
                                </td>
                                <td>
                                    {{this.datePost}}
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">

                                </td>
                            </tr>
                        </tfoot>
                        </thead>
                    </table>
                </div>
                <div class="pagination">
                    {{generatePaginationLinks pages currentPage prevPage nextPage role}}
                </div>
            </div>
        </div>

    </div>

    <script>
        let currentUrl = new URL(window.location.href);
        function loadDetailUser(id) {
            window.location.href = `/admin/waitingTutor/${id}`
        }

        //handle choose method search
        function changePage(page) {
            if (currentUrl.searchParams.has('page')) {
                currentUrl.searchParams.set('page', page);
            }
            else {
                currentUrl.searchParams.append('page', page);
            }
            window.location.href = currentUrl.toString();
        }
    </script>
</body>

</html>``