<!DOCTYPE html>
<html lang="en">
<style>
    @import url(/stylesheets/category.css);
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Account List</title>
    <link rel="stylesheet" href="/assetsViewWaitingTutor/styleViewAccountList.css">
    <link rel="stylesheet" href="/pagination.css">
    <link rel="stylesheet" href="/stylesheets/styleSideBarAdmin.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="page-view-account-list">
        <div class="main--content">
            <div class="category-content">
                <div class="sorter">
                    <a href="#0" class="menu-trigger" trigger-button data-target="sidebar-filter">
                        <i class="ri-filter-line"></i>
                    </a>
                    <div class="left">
                        <div class="input-box">
                            <i class="fas fa-search"></i>

                            <input type="text" id="search-tutor" placeholder="Search">
                        </div>
                    </div>
                    <div class="right">
                        <div class="col-8 col-xl-2 col-lg-2 col-sm-8 wrapper-sort-course">
                            <select class="form-select" id="sort_selection" aria-label="Sort Course">
                                <option selected>Sort accounts</option>
                                <option value="price-asc">Price: nhỏ-lớn</option>
                                <option value="price-desc">Price: lớn-nhỏ</option>
                                <option value="datePost-asc">Date Post: A-Z</option>
                                <option value="datePost-desc">Date Post: Z-A</option>
                                <option value="GPA-asc">GPA: Low to High</option>
                                <option value="GPA-desc">GPA: High to Low</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-account-container">
                <h3 class="main--title">List Account Waiting Be Tutor</h3>


                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>GPA</th>
                                <th>price</th>
                                <th>Date</th>

                            </tr>
                        <tbody id="list-account">

                            {{#each tutorList}}
                            <tr onclick="loadDetailUser('{{this._id}}')">
                                <td>
                                    {{this.tutorId.fullname}}
                                </td>
                                <td>
                                    {{this.tutorId.email}}
                                </td>
                                <td>
                                    {{this.tutorId.GPA}}
                                </td>
                                <td>
                                    {{this.price}}
                                </td>
                                <td>
                                    {{this.datePost}}
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">

                                </td>
                            </tr>
                        </tfoot>
                        </thead>
                    </table>
                </div>
                <div class="pagination">
                    <a id="prev_page" href="/admin/waitingTutor?page={{prevPage}}">
                        < </a>
                            {{#each pages}}
                            <a id="{{this}}" href="/admin/waitingTutor/?page={{this}}"
                                class="{{#if (eq this ../currentPage)}}active{{/if}}">{{this}}</a>
                            {{/each}}
                            <a id="next_page" href="/admin/waitingTutor/?page={{nextPage}}"> > </a>
                </div>
            </div>
        </div>

    </div>

    <script>
        let currentUrl = new URL(window.location.href);
        const sortSelection = document.getElementById("sort_selection");
        console.log(sortSelection)
        sortSelection.addEventListener("change", async function () {

            let selectedValue = sortSelection.value;
            const parts = selectedValue.split('-');
            const sortByOrder = parts[1];
            const sortByField = parts[0];
            if (currentUrl.searchParams.has('sortByField')) {
                currentUrl.searchParams.set('sortByField', sortByField);
            }
            else {
                currentUrl.searchParams.append('sortByField', sortByField);
            }

            if (currentUrl.searchParams.has('sortByOrder')) {
                currentUrl.searchParams.set('sortByOrder', sortByOrder);
            }
            else {
                currentUrl.searchParams.append('sortByOrder', sortByOrder);
            }
            console.log('haha')
            window.location.href = currentUrl.toString();


        })

        const searchBtn = document.querySelector(".fa-search");
        searchBtn.addEventListener('click', function () {
            //console.log('haha');
            const tutorName = $('#search-tutor').val();
            let currentUrl = new URL(window.location.href);

            if (currentUrl.searchParams.has('searchField')) {
                currentUrl.searchParams.set('searchField', tutorName);
            }
            else {
                currentUrl.searchParams.append('searchField', tutorName);
            }
            window.location.href = currentUrl.toString();
        });
        function loadDetailUser(id) {
            window.location.href = `/admin/waitingTutor/${id}`
        }

        //handle choose method search

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>