<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<style type="stylesheets">@import url(https://fonts.cdnfonts.com/css/prata-2);</style>
<style type="stylesheets">
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=latin-ext&display=swap);</style>
<style type="stylesheets">@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);</style>
<style type="stylesheets">@import url(https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css);</style>
<style>
    @import url(/stylesheets/category.css);
</style>
<script type="module" src="/javascripts/swiper-bundle.min.js"></script>
<script type="module" src="/javascripts/script.js"></script>

<div id="page" class="page-category">
    <header>
        <div class="inner-header">
            <div class="container wide">
                <div class="wrap">
                    <div class="header-left">
                        <div class="menu-bar">
                            <a href="#0" class="menu-trigger" trigger-button data-target="mobile-menu"><i
                                    class="ri-menu-line"></i></a>
                        </div>
                        <div class="list-inline">
                            <ul>
                                <li><a href=""><i class="ri-user-line"></i></a></li>
                                <li><a href=""><span class="item-floating">7</span>
                                        <i class="ri-star-line"></i>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                   <div class="header-center">
                        <nav class="menu">
                            <ul>
                                <li><a href="/"><span>Home</span></a></li>
                                <li><a href="/category"><span>Products</span>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="sub-mega">
                                        <li>
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="mega-content">
                                                        <div class="dotgrid">
                                                            <div class="wrapper"> 
                                                                <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="/product/detail/656c6a79070d4b726e9d9c71" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e48b21b9-405e-4697-b9b6-b9675a40bb66/jordan-stadium-90-shoes-0cSSz3.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/0e9512c7-a0e5-4692-83f9-0cb7271ac9d0/jordan-stadium-90-shoes-0cSSz3.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i
                                                                                                class="ri-star-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-arrow-left-right-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-eye-line"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-25%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="/product/detail/656c6a79070d4b726e9d9c71">Jordan Stadium 90</a></h2>
                                                                            <div class="product-price">
                                                                                <span class="before">$170</span>
                                                                                <span class="current">$128</span>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                                <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="/product/detail/656c6fcd070d4b726e9d9c74" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/1c0c434c-9802-4556-89c7-a8600b2828d8/air-jordan-1-low-shoes-6Q1tFM.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/a21d548e-eb3d-4a1b-a086-fffc780f0e0a/air-jordan-1-low-shoes-6Q1tFM.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i
                                                                                                class="ri-star-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-arrow-left-right-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-eye-line"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-30%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="/product/detail/656c6fcd070d4b726e9d9c74">Air Jordan 1 Low</a></h2>
                                                                            <div class="product-price">
                                                                                <span class="before">$134</span>
                                                                                <span class="current">$96</span>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                                <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="/product/detail/656c7265070d4b726e9d9c77" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/7ef88efc-01ff-427e-9def-b84d5a344053/paris-saint-germain-jumpman-mvp-shoes-LxppNW.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e5f172b1-fc2c-48ab-b3d9-d4748eb4e206/paris-saint-germain-jumpman-mvp-shoes-LxppNW.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i
                                                                                                class="ri-star-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-arrow-left-right-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-eye-line"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-10%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="/product/detail/656c7265070d4b726e9d9c77">Paris Saint-Germain Jumpman MVP</a></h2>
                                                                            <div class="product-price">
                                                                                <span class="before">$200</span>
                                                                                <span class="current">$180</span>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="links">
                                                            <div class="list-block">
                                                                <h3 class="dot-title">Categories</h3>
                                                                <ul>
                                                                    <li><a href="#">Jordan</a></li>
                                                                    <li><a href="#">Gym and Trainning</a></li>
                                                                    <li><a href="#">Sandal and Slides</a></li>
                                                                    <li><a href="#">Running</a></li>

                                                                </ul>
                                                            </div>
                                                            <div class="list-block">
                                                                <h3 class="dot-title">Brands</h3>
                                                                <ul>
                                                                    <li><a href="#">Nike</a></li>
                                                                    <li><a href="#">Adidas</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/site/aboutus"><span>Our</span></a></li>
                            </ul>

                            <ul>
                                <li><a href=""><span>Specials</span>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="sub-menu list-block">
                                        <li><a href="/category/nike">Nike</a></li><!--Product brands Nike-->
                                        <li><a href="/category/dior">Dior</a></li><!--Product brands Dior-->
                                        <li><a href="/category/adidas">Adidas</a></li><!--Product brands Adidas-->
                                        <li><a href="/category/balenciaga">Balenciaga</a></li>
                                        <!--Product brands Balenciaga-->
                                    </ul>
                                </li>
                                <li><a href="/login"><span>Login</span></a></li> <!--login-->
                                <li><a href=""><span>Contacts</span></a></li> <!--contact-->
                            </ul>
                        </nav>
                        <div class="branding"><a href="/">Shopping</a></div>
                    </div>
                    <div class="header-right">
                        <div class="list-inline">
                            <ul>
                                <li><a href="#0" trigger-button data-target="search-float"><i
                                            class="ri-search-line"></i></a></li>
                                <li><a href="#0" trigger-button data-target="data-cart"><span
                                            class="item-floating">0</span><i class="ri-shopping-bag-line"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="wrap">
                    <div class="breadcrumb list-inline">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Product</a></li>
                            <li><span>Category</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="search-float" class="search-float">
                <div class="containe rwide">
                    <form action="" class="search">
                        <i class="ri-search-line"></i>
                        <input type="search" class="input" id="" placeholder="Search products">
                        <i class="ri-close-line" close-button></i>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="section">
            <div class="container wide">
                <div class="wrap">
                    <div class="heading">
                        <h1 class="title">Category</h1>
                    </div>
                    <div class="content">
                        <div id="sidebar-filter" class="sidebar">
                            {{!-- <form action="/category" method="get">
                                <div class="wrap">
                                    <a href="#0" class="close-trigger" close-button>
                                        <i class="ri-close-line"></i>
                                    </a>
                                    <div class="sidebar-content">
                                        <div class="sidebar-title">Filter</div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <input type="checkbox" name="cats" id="aaa" checked>
                                                <label for="aaa">
                                                    <span>Size</span>
                                                    <i class="ri-arrow-down-s-line"></i>
                                                </label>
                                                <div class="accord product-size">
                                                    <div class="wrap">
                                                        <button>40</button>
                                                        <button>41</button>
                                                        <button>42</button>
                                                        <button>43</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <input type="checkbox" name="cats" id="aab" checked>
                                                <label for="aab">
                                                    <span>Colors</span>
                                                    <i class="ri-arrow-down-s-line"></i>
                                                </label>
                                                <div class="accord product-color">
                                                    <div class="wrap">
                                                        <button class="white"></button>
                                                        <button class="black"></button>
                                                        <button class="brown"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <input type="checkbox" name="cats" id="aac" checked>
                                                <label for="aac">
                                                    <span>Categories</span>
                                                    <i class="ri-arrow-down-s-line"></i>
                                                </label>
                                                <div class="accord list-block scrollto">
                                                    <ul class="wrapper initial">
                                                        <li><a href="">All Shoes</a></li>
                                                        <li><a href="">Newest Sneaker</a></li>
                                                        <li><a href="">Jordan</a></li>
                                                        <li><a href="">LifeStyle</a></li>
                                                        <li><a href="">Running</a></li>
                                                        <li><a href="">Gym and Tranning</a></li>
                                                        <li><a href="">Basketball</a></li>
                                                        <li><a href="">Football</a></li>
                                                        <li><a href="">Sandals and Slides</a></li>
                                                        <li><a href="">Gym and Tranning</a></li>
                                                        <li><a href="">Last sizes available</a></li>
                                                        <li><a href="">Last sizes available</a></li>
                                                        <li><a href="">Customise by you</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <input type="checkbox" name="manufacturer" id="manufacturer" checked>
                                                <label for="manufacturer">
                                                    <span for="manufacturer">Brands</span>
                                                    <i class="ri-arrow-down-s-line"></i>
                                                </label>
                                                <div class="accord list-block scrollto">
                                                    <ul class="wrapper initial">
                                                        <li><a href="" value="Nike">Nike</a></li>
                                                        <li><a href="#">Dior</a></li>
                                                        <li><a href="#">Adidas</a></li>
                                                        <li><a href="#">Balenciaga</a></li>
                                                        <li><a href="#">Gucci</a></li>
                                                        <li><a href="#">Puma</a></li>
                                                        <li><a href="#">Louis Vuition</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="widget">
                                            <div class="sumary">
                                                <label><span>Price</span></label>
                                                <div class="range-track">
                                                    <input type="range" value="25" min="0" max="500" step="1">
                                                </div>
                                                <div class="price-range grey-color">
                                                    <span>$30</span>
                                                    <span>$500</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button">

                                    <a href="" class="secondary-btn">Submit</a>
                                </div>
                            </form> --}}
                            <form action="/category" method="GET" id="filter_form">
                                <div class="wrap">
                                    <a href="#0" class="close-trigger" close-button>
                                        <i class="ri-close-line"></i>
                                    </a>
                                    <div class="sidebar-content">
                                        <div class="sidebar-title">Filter</div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <label for="size">Size</label>
                                                <select name="size" id="size">
                                                    <option value="None">None</option>
                                                    <option value="40">40</option>
                                                    <option value="41">41</option>
                                                    <option value="42">42</option>
                                                    <option value="43">43</option>
                                                </select>
                                            </div>
                                        </div>
                                        {{!-- <div class="widget">
                                            <div class="sumary">
                                                <label for="color">Colors</label>
                                                <select name="color" id="color">
                                                    <option value="None">None</option>
                                                    <option value="white">White</option>
                                                    <option value="black">Black</option>
                                                    <option value="brown">Brown</option>
                                                </select>
                                            </div>
                                        </div> --}}
                                        <div class="widget">
                                            <div class="sumary">
                                                <input type="checkbox" name="color" id="color" checked>
                                                <label for="color">
                                                    <span>Colors</span>
                                                    <i class="ri-arrow-down-s-line"></i>
                                                </label>
                                                <div class="accord product-color">
                                                    <div class="wrap">
                                                        <div class="wrap">
                                                            <button class="color-button white"
                                                                onclick="selectColor('white')"></button>
                                                            <button class="color-button black"
                                                                onclick="selectColor('black')"></button>
                                                            <button class="color-button brown"
                                                                onclick="selectColor('brown')"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <label for="category">Categories</label>
                                                <select name="category" id="category">
                                                    <option value="None">None</option>
                                                    <option value="All Shoes">All Shoes</option>
                                                    <option value="Newest Sneaker">Newest Sneaker</option>
                                                    <option value="Jordan">Jordan</option>
                                                    <option value="Lifestyle">Lifestyle</option>
                                                    <option value="Running">Running</option>
                                                    <option value="Gym">Gym</option>
                                                    <option value="Basketball">Basketballr</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <label for="manufacturer">Brands</label>
                                                <select name="manufacturer" id="manufacturer">
                                                    <option value="None">None</option>
                                                    <option value="Nike">Nike</option>
                                                    <option value="Dior">Dior</option>
                                                    <option value="LeBron">LeBron</option>
                                                    <option value="Adidas">Adidas</option>
                                                    <option value="Jordan">Jordan</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="widget">
                                            <div class="sumary">
                                                <label><span>Price</span></label>
                                                <div class="range-track">
                                                    <input type="range" value="25" min="0" max="500" step="1">
                                                </div>
                                                <div class="price-range grey-color">
                                                    <span>$30</span>
                                                    <span>$500</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <div class="button"><a href="#" class="primary-btn" onclick="clearForm()">Clear</a></div>
                                    <div class="button"><a href="#" class="primary-btn">Submit</a></div>
                                </div>
                            </form>

                        </div>
                        <div class="category-content">
                            <div class="sorter">
                                <a href="#0" class="menu-trigger" trigger-button data-target="sidebar-filter">
                                    <i class="ri-filter-line"></i>
                                </a>
                                <div class="left">
                                    <span class="grey-color">Showing 9 of 35 results</span>
                                </div>
                                <div class="right">
                                    <div class="sort-list">
                                        <div class="wrap">
                                            <div class="opt-trigger">
                                                <span class="value">Default sorting</span>
                                                <i class="ri-arrow-down-s-line"></i>
                                            </div>
                                            <ul>
                                                <li class="active"><a href="#0">Default sorting</a></li>
                                                <li><a href="#0">Popular</a></li>
                                                <li><a href="#0">Rating</a></li>
                                                <li><a href="#0">Latest</a></li>
                                                <li><a href="#0">Price: low to high</a></li>
                                                <li><a href="#0">Price: high to low</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="list-inline">
                                        <ul>
                                            <li><a href=""><i class="ri-pause-mini-line"></i></a></li>
                                            <li><a href=""><i class="ri-list-check-2"></i></a></li>
                                            <li><a href=""><i class="ri-layout-grid-line"></i></a></li>
                                            <li><a href=""><i class="ri-layout-masonry-line"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tabbed">
                                <div id="shoes" class="sort-data active">
                                    <div class="dotgrid">
                                        <div class="wrapper">
                                            <!--hiện sản phẩm -->
                                            {{#each productList}}
                                            <div class="item">
                                                <div class="dot-image">
                                                    <a href="/product/detail/{{this._id}}" class="product-permalink"></a>
                                                    <div class="thumbnail">
                                                        <a href="/product/detail/{{this._id}}"><img
                                                                src="{{this.gallery}}" alt=""></a>
                                                    </div>
                                                    <div class="thumbnail hover">
                                                        <img src="{{this.thumbnail}}" alt="">
                                                    </div>
                                                    <div class="actions">
                                                        <ul>
                                                            <li><a href=""><i class="ri-star-line"></i></a>
                                                            </li>
                                                            <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                            </li>
                                                            <li><a href=""><i class="ri-eye-line"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="label"><span>{{this.view}}%</span></div>
                                                </div>
                                                <div class="dot-info">
                                                    <h2 class="dot-title"><a
                                                            href="/product/detail/{{this._id}}">{{this.name}}</a></h2>
                                                    <div class="product-price">
                                                        <span class="before">${{this.price}}</span>
                                                        <span class="current">${{this.discount}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination">
                                    <a id="prev_page"><</a>
                                            <a id="1" href="" class="active">1</a>
                                            <a id="2" href="">2</a>
                                            <a id="3" href="">3</a>
                                            <a id="4" href="">4</a>
                                            <a id="5" href="">5</a>
                                            <a id="next_page" href="">></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    </main>
   <footer>
        <div class="inner-footer">
            <div class="container">
                <div class="wrap">
                    <div class="top">
                        <div class="subscribe">
                            <h3>Get voucher from us</h3>
                            <p class="grey-color">Enter your email be the first to know about new collections from
                                us
                            </p>
                            <form action="" class="search">
                                <i class="ri-mail-line"></i>
                                <input type="text" class="input" placeholder="Enter your email">
                                <input type="submit" class="submit">
                                <i class="ri-arrow-right-line"></i>
                            </form>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Service</h3>
                            <ul>
                                <li><a href="/aboutus">About us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Pages</h3>
                            <ul>
                                <li><a href="/category">Category Product</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Cart</a></li>
                                <li><a href="#">Checkout</a></li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Pages</h3>
                            <div class="comp-address grey-color">
                                <p>227 Nguyễn Văn Cừ Street<br>District 5,Ward 4,HCM City</p>
                                <p>
                                    <a href="">+84928928329</a>
                                    <br>
                                    <a href="">shoppingshoes@gmail.com</a>
                                </p>
                                <p>
                                    Weekdays: 9AM to 5PM<br>
                                    Saturday: 9AM to 3PM<br>
                                    Sunday: Closed
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="list-inline">
                            <ul>
                                <li><a href="https://www.facebook.com/bach0807/"><i class="ri-facebook-line"></i></a></li>
                                <li><a href="https://www.instagram.com/"><i class="ri-instagram-line"></i></a></li>
                                <li><a href="https://github.com/"><i class="ri-github-line"></i></a></li>
                                <li><a href="https://www.pinterest.com/search/pins/?q=nike%20450*600&rs=typed"><i class="ri-pinterest-line"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>© 2023 Shopping, Inc. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="overlay" data-overlay></div>
<div id="mobile-menu" class="mobile-menu">
    <div class="wrap">
        <a href="" class="close-trigger active" close-button>
            <i class="ri-close-line"></i>
        </a>
        <div class="main-menu scrollto">
            <nav class="wrapper">
                <ul>
                    <li><a href=""><span>Home</span></a></li>
                    <li class="has-child"><a href="">
                            <span>Products</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                        </a>
                        <ul class="sub-menu list-block">
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Balenciaga</a></li>
                            <li><a href="#">Vans</a></li>
                            <li><a href="#">New Balance</a></li>
                            <li><a href="#">MLB</a></li>
                            <li><a href="#">Puma</a></li>
                            <li><a href="#">Supreme</a></li>
                            <li><a href="#">Louis Vuition</a></li>
                            <li><a href="#">Dolce & Gabbana</a></li>
                            <li><a href="#">Gucci</a></li>
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Armani</a></li>
                            <li><a href="#">Channel</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Gucci</a></li>
                            <li><a href="#">Hugo Boss</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>Discount</span></a></li>
                    <li class="has-child">
                        <a href="">
                            <span>Specials</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                        </a>
                        <ul class="sub-menu list-block">
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Balenciaga</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>Login</span></a></li>


                </ul>
            </nav>
            <div class="button">
                <a href="" class="secondary-btn">Login</a>
                <a href="" class="primary-btn">Register</a>

            </div>
        </div>
    </div>
</div>
<div id="data-share" class="data-popup d-share">
    <div class="wrap">
        <div class="data-content">
            <a href="#0" class="close-trigger" close-button><i class="ri-close-line"></i></a>
            <div class="form">
                <label>Copy link</label>
                <input type="text" disabled value="https://www.youtube.com/">
                <span><i class="ri-file-copy-line"></i></span>
            </div>
            <div class="meadia-share list-inline">
                <label>Share</label>
                <ul>
                    <li><a href=""><i class="ri-facebook-line"></i></a></li>
                    <li><a href=""><i class="ri-instagram-line"></i></a></li>
                    <li><a href=""><i class="ri-pinterest-line"></i></a></li>
                    <li><a href=""><i class="ri-youtube-line"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div id="data-question" class="data-popup d-question">
    <div class="wrap">
        <div class="data-content">
            <a href="#0" class="close-trigger" close-button><i class="ri-close-line"></i></a>
            <h3>The question</h3>
            <form action="">
                <div><input type="text" placeholder="Name"></div>
                <div><input type="text" placeholder="Email"></div>
                <div><textarea placeholder="Your question is.." cols="30" rows="5"></textarea></div>
                <div class="button">
                    <button type="submit" class="secondary-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="data-review" class="data-popup d-review">
    <div class="wrap">
        <div class="data-content">
            <a href="#0" class="close-trigger" close-button><i class="ri-close-line"></i></a>
            <h3>Write a review</h3>
            <form action="">
                <div class="dotgrid">
                    <div class="wrapper">
                        <div><input type="text" placeholder="Name"></div>
                        <div><input type="text" placeholder="Email"></div>
                    </div>
                </div>
                <div class="rating">
                    <span>Your rating:</span>
                    <div class="stars">
                        <input type="radio" name="rating" id="star5">
                        <label for="star5"><i class="ri-star-fill"></i></label>
                        <input type="radio" name="rating" id="star4">
                        <label for="star4"><i class="ri-star-fill"></i></label>
                        <input type="radio" name="rating" id="star3">
                        <label for="star3"><i class="ri-star-fill"></i></label>
                        <input type="radio" name="rating" id="star2">
                        <label for="star2"><i class="ri-star-fill"></i></label>
                        <input type="radio" name="rating" id="star1">
                        <label for="star1"><i class="ri-star-fill"></i></label>

                    </div>
                </div>
                <div><input type="text" placeholder="Review titles"></div>
                <div><textarea placeholder="Your review is.." cols="30" rows="5"></textarea></div>
                <div class="button">
                    <button type="submit" class="secondary-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="data-cart" class="cart-menu">
    <div class="wrap">
        <a href="#0" class="close-trigger" close-button><i class="ri-close-line"></i></a>
        <div class="scrollto cart-outer">
            <div class="wrapper">
                <div class="cart-list">
                    <div class="wrapper">
                        <div class="cart-header">
                            <h3>Shopping cart</h3>
                        </div>
                        <div class="cart-body">
                            <div class="product-list scrollto">

                                <div class="wrapper">
                                    {{#each productList}}
                                    <ul>
                                        <li>
                                            <!--3 lần-->

                                            <div class="grouping">
                                                <div class="quantity">
                                                    <div class="control">
                                                        <button>-</button>
                                                        <input type="text" value="1">
                                                        <button>+</button>
                                                    </div>
                                                </div>
                                                <div class="thumbnail">
                                                    <a href="">
                                                        <img src="{{this.gallery}}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="variants">
                                                <h4 class="dot-title"><a href="">{{this.name}}</a></h4>
                                                <div class="color grey-color">
                                                    <span>Color:</span>
                                                    <span>White</span>
                                                </div>
                                                <div class="size grey-color">
                                                    <span>Size:</span>
                                                    <span>42</span>
                                                </div>
                                                <div class="price">${{this.price}}</div>
                                                <a href="" class="item-remove">
                                                    <i class="ri-close-line"></i>
                                                </a>
                                            </div>

                                        </li>
                                    </ul>
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                        <div class="cart-footer">
                            <div class="discount">
                                <form action="">
                                    <input type="text" class="input" placeholder="Coupon">
                                    <input type="submit" class="submit" value="Apply">
                                </form>
                            </div>
                            <div class="math-pricing">
                                <ul>
                                    <li>
                                        <span>Subtotal</span>
                                        <span class="value"></span>
                                    </li>
                                    <ul>
                                        <li><span>Shipping</span></li>
                                        <li>
                                            <div>
                                                <input type="radio" class="checker" name="shipping">
                                                <label for="">Free</label>
                                            </div>
                                            <span class="value">$0.00</span>
                                        </li>
                                        <li>
                                            <div>
                                                <input type="radio" class="checker" name="shipping">
                                                <label for="">Flat</label>
                                            </div>
                                            <span class="value">$20.00</span>
                                        </li>
                                    </ul>
                                    <li>
                                        <span>Promo discount</span>
                                        <span class="value">-$0.00</span>
                                    </li>
                                    <li class="total">
                                        <span>Total</span>
                                        <span class="value">$115.00</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="button">
                                <a href="" class="secondary-btn">Checkout</a>
                                <a href="" class="grey-link">Viewcart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>