<style>
    @import url(/stylesheets/view2.css);
    @import url(/pagination1.css);
</style>
<style type="text/css">
    @import url('https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css');
</style>




<!-- header section ends -->

<!--body section starts -->
<section class="home" id="home">
    <div class="content">
        <h3 class="wrapper-header">
            <a href=""><i class="ri-arrow-right-s-fill"></i> View Course</a>
            <br>

        </h3>
        <div class="section">
            <div class="container wide">
                <div class="wrap">
                    <div class="content">
                        <div class="cart-table">
                            <div class="product-list has-bg">
                                <div class="table-content">
                                    <ul id="list-course">
                                        {{#each orders}}
                                        <li class="dotgrid row">
                                            <div class="grouping wrapper col-9">
                                                <div class="variants">
                                                    <h4 class="dot-title"><a href="">{{this.courseId.name}}</a></h4>
                                                    <div class="price grey-color">
                                                        <span>Price: {{this.courseId.price}} VNĐ</span>
                                                    </div>
                                                    <div class="schedule">
                                                        <span>{{this.courseId.schedule}}</span>
                                                    </div>
                                                    <div class="schedule">
                                                        <span>{{this.status}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="choose col-3">
                                                
                                                  <button class="texting" onclick="texTing('{{this._id}}')">Texting</button>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    {{generateTutorPaginationLinks pages currentPage prevPage nextPage namePage }}
                </div>
            </div>
        </div>
    </div>

    <div class="image">
        <img src="/images/{{user.avatar}}" id="profile-pic">
    </div>

</section>

<!--body section ends -->
<!-- footer section starts  -->



<!-- footer section ends -->

<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    let menu = document.querySelector('#menu-btn');
    let navbarLinks = document.querySelector('.header .navbar .links');


    let currentPage = {{ currentPage }};
    let numCourse = 0;
    const pagination = $('.pagination')

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbarLinks.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbarLinks.classList.remove('active');

        if (window.scrollY > 60) {
            document.querySelector('.header .navbar').classList.add('active');
        } else {
            document.querySelector('.header .navbar').classList.remove('active');
        }
    }

    const listCourse = $('#list-course');

    function generateTutorPaginationLinks(pages, currentPage, prevPage, nextPage, namePage) {
        // Adjust currentPage if the number of students is 1 more than a multiple of 4


        let links = '';
        //function handle first and last
        function handleArrow(pageNumber, text) {
            return `<a id="${pageNumber}" onclick="loadCourse(${pageNumber})">${text}</a>`;
        }
        // Function to generate individual links
        function generateLink(pageNumber, text) {
            const isActive = pageNumber === currentPage ? 'active' : '';
            return `<a id="${pageNumber}" onclick="loadCourse(${pageNumber})" class="${isActive}">${text}</a>`;
        }

        // Add previous page link
        links += handleArrow(prevPage, '<');

        // Add individual page links
        pages.forEach((pageNumber) => {
            links += generateLink(pageNumber, pageNumber);
        });

        // Add next page link
        links += handleArrow(nextPage, '>');


        return links;
    }
    async function loadCourse(currentPage) {
        if (numCourse % 4 === 1) {
            currentPage -= 1;
        }
        try {
            const response = await fetch(`/user/stored/coursesAjax?page=${currentPage}`, {
                method: 'GET',
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();

            listCourse.innerHTML = ``
            pagination.innerHTML = ``
            console.log(data);

            data.orders.forEach((Order, key) => {
                console.log(Order);
                let tempOrder = document.createElement('li');
                tempOrder.classList.add('dotgrid', 'row');
                tempOrder.innerHTML = `
                <div class="grouping wrapper col-9">
                    <div class="variants">
                        <h4 class="dot-title"><a href=""> ${Order.courseId.name}</a></h4>
                        <div class="price grey-color">
                            <span>Price: ${Order.courseId.price} VNĐ</span>
                        </div>
                        <div class="schedule">
                            <span>${Order.courseId.schedule}</span>
                        </div>
                          <div class="schedule">
                            <span>${Order.status}</span>
                        </div>
                    </div>
                      <div class="choose col-3">
                                                
                                                  <button class="texting" onclick="texTing('${Order._id}')">Texting</button>
                                            </div>
                </div>

               
            `;
                listCourse.appendChild(tempOrder);
            });

            numCourse = data.numCourse;


            pagination.innerHTML = generateTutorPaginationLinks(data.pages, data.currentPage, data.prevPage, data.nextPage, data.namePage);
        } catch (error) {
            console.error('Error:', error.message);
        }
    }

     // texting
    function texTing(idOrder) {
        window.location.href = `/user/texting/${idOrder}`
    }
</script>