<style>
    @import url(/stylesheets/editprofile.css);
    @import url(/styleGeneralTemp.css);
</style>
<style>
    @import url(https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css);
</style>
<style>
    @import url(https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous");
</style>
<!-- header section starts  -->






<!-- header section ends -->

<!--body section starts -->
<section class="home" id="home">
    <div class="content">
        <h3 class="wrapper-header">
            <a href=""><i class="ri-arrow-right-s-fill"></i> Edit Profile</a>
            <br>

        </h3>
        <form action="">
            <p>
            <div class="text-field">Name</div>
            <label for="name"></label>
            <input type="text" id="name" name="name" value="{{user.fullname}}" style="background-color: #40DDB6;"
                required>

            </p>

            <p>
            <div class="text-field">Phone</div>
            <label for="phone"></label>
            <input type="tel" id="phone" name="phone" value="{{user.phoneNumber}}" style="background-color: #40DDB6;"
                required>
            </p>

            <p>
            <div class="text-field">Faculty</div>
            <label for="faculty"></label>
            <input type="text" id="faculty" name="faculty" value="{{user.faculty}}" style="background-color: #40DDB6;"
                required>
            </p>

            <p>
            <div class="text-field">School</div>
            <label for="school"></label>
            <input type="text" id="school" name="school" value="{{user.school}}" style="background-color: #40DDB6;"
                required>
            </p>

            <p>
            <div class="text-field">Student course</div>
            <label for="course"></label>
            <input type="text" id="course" name="course" value="{{user.studentCourse}}"
                style="background-color: #40DDB6;" required>
            </p>


            <p class="wrapper-btn-submit ">
                <button class="btn" id="btn-submit" type="submit">Save your changes</button>
            </p>
        </form>
    </div>
    <div class="image">



        <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" check style="display: none;">

        <span id="file-label"> <img src="/images/{{user.avatar}}" id="profile-pic"></span>
        <label class="btn" for="input-file" id="custom-button">choose new avatar</label>
    </div>

</section>

<!--body section ends -->
<!-- footer section starts  -->

<!-- footer section ends -->

<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    let menu = document.querySelector('#menu-btn');
    let navbarLinks = document.querySelector('.header .navbar .links');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbarLinks.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbarLinks.classList.remove('active');

        if (window.scrollY > 60) {
            document.querySelector('.header .navbar').classList.add('active');
        } else {
            document.querySelector('.header .navbar').classList.remove('active');
        }
    }

    let profilePic = document.getElementById("profile-pic");
    let inputFile = document.getElementById("input-file");

    inputFile.onchange = function () {

        profilePic.src = URL.createObjectURL(inputFile.files[0]);
    }




    // handle submit edit profile
    const submit = $('#btn-submit');
    submit.addEventListener('click', async function () {
        event.preventDefault();
        const curUrl = new URL(window.location.href);
        let isError = false;

        const formData = new FormData();

        const fullname = document.getElementById('name').value;
        const phoneNumber = document.getElementById('phone').value;
        const faculty = document.getElementById('faculty').value;
        const school = document.getElementById('school').value;
        const studentCourse = document.getElementById('course').value;

        // Thêm các trường dữ liệu vào formData
        formData.append('fullname', fullname);
        formData.append('phoneNumber', phoneNumber);
        formData.append('faculty', faculty);
        formData.append('school', school);
        formData.append('studentCourse', studentCourse);
        if (inputFile.files[0] != undefined) {
            console.log(inputFile.files[0])
            formData.append('avatar', inputFile.files[0]);
        } else {
            console.log(profilePic)

        }


        await fetch('/user/profile', {
            method: 'POST',
            body: formData,

        }).then(response => {
            if (!response.ok) {
                isError = true;


            }

            return response.json();
        })
            .then(data => {
                if (isError == true) {
                    alert(data.error)
                } else {
                    // Redirect to the signin page (adjust the URL as needed)
                    const alertReview = $('.alert-success')
                    alertReview.innerHTML = `${data.msg}`
                    alertReview.style.opacity = "1";
                    alertReview.style.display = "block"

                    setTimeout(function () {
                        alertReview.style.opacity = "0";
                        setTimeout(function () {
                            alertReview.style.display = "none";
                        }, 500);
                    }, 3000);
                }

            })
            .catch(error => {
                // Handle other errors here
                console.error('Error:', error);
            });
    });

</script>