<script type="module" src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="/javascripts/script.js"></script>


<div id="page" class="page-home">
    <header>
        <div class="inner-header">
            <div class="container wide">
                <div class="wrap">
                    <!--Header left-->
                    <div class="header-left">
                        <div class="menu-bar">
                            <a href="#0" class="menu-trigger" trigger-button data-target="mobile-menu"><i
                                    class="ri-menu-line"></i></a>
                        </div>
                        <div class="list-inline">
                            <ul>
                                <li><a href="/login"><i class="ri-user-line"></i></a></li>
                                <li><a href=""><span class="item-floating">7</span>
                                        <i class="ri-star-line"></i>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Header center-->
                    <div class="header-center">
                        <nav class="menu">
                            <ul>
                                <li><a href="/"><span>Home</span></a></li>
                                <li><a href="/category"><span>Products</span>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="sub-mega">
                                        <li>
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="mega-content">
                                                        <div class="dotgrid">
                                                            <div class="wrapper">
                                                                <div class="item">
                                                                    <div class="dot-image">
                                                                        <a href="/product/detail/656c6a79070d4b726e9d9c71"
                                                                            class="product-permalink"></a>
                                                                        <div class="thumbnail">
                                                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e48b21b9-405e-4697-b9b6-b9675a40bb66/jordan-stadium-90-shoes-0cSSz3.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="thumbnail hover">
                                                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/0e9512c7-a0e5-4692-83f9-0cb7271ac9d0/jordan-stadium-90-shoes-0cSSz3.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="actions">
                                                                            <ul>
                                                                                <li><a href=""><i
                                                                                            class="ri-star-line"></i></a>
                                                                                </li>
                                                                                <li><a href=""><i
                                                                                            class="ri-arrow-left-right-line"></i></a>
                                                                                </li>
                                                                                <li><a href=""><i
                                                                                            class="ri-eye-line"></i></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="label"><span>-25%</span></div>
                                                                    </div>
                                                                    <div class="dot-info">
                                                                        <h2 class="dot-title"><a
                                                                                href="/product/detail/656c6a79070d4b726e9d9c71">Jordan
                                                                                Stadium 90</a></h2>
                                                                        <div class="product-price">
                                                                            <span class="before">$170</span>
                                                                            <span class="current">$128</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="item">
                                                                    <div class="dot-image">
                                                                        <a href="/product/detail/656c6fcd070d4b726e9d9c74"
                                                                            class="product-permalink"></a>
                                                                        <div class="thumbnail">
                                                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/1c0c434c-9802-4556-89c7-a8600b2828d8/air-jordan-1-low-shoes-6Q1tFM.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="thumbnail hover">
                                                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/a21d548e-eb3d-4a1b-a086-fffc780f0e0a/air-jordan-1-low-shoes-6Q1tFM.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="actions">
                                                                            <ul>
                                                                                <li><a href=""><i
                                                                                            class="ri-star-line"></i></a>
                                                                                </li>
                                                                                <li><a href=""><i
                                                                                            class="ri-arrow-left-right-line"></i></a>
                                                                                </li>
                                                                                <li><a href=""><i
                                                                                            class="ri-eye-line"></i></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="label"><span>-28%</span></div>
                                                                    </div>
                                                                    <div class="dot-info">
                                                                        <h2 class="dot-title"><a
                                                                                href="/product/detail/656c6fcd070d4b726e9d9c74">Air
                                                                                Jordan 1 Low</a></h2>
                                                                        <div class="product-price">
                                                                            <span class="before">$134</span>
                                                                            <span class="current">$96</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="item">
                                                                    <div class="dot-image">
                                                                        <a href="/product/detail/656c7265070d4b726e9d9c77"
                                                                            class="product-permalink"></a>
                                                                        <div class="thumbnail">
                                                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/7ef88efc-01ff-427e-9def-b84d5a344053/paris-saint-germain-jumpman-mvp-shoes-LxppNW.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="thumbnail hover">
                                                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e5f172b1-fc2c-48ab-b3d9-d4748eb4e206/paris-saint-germain-jumpman-mvp-shoes-LxppNW.png"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="actions">
                                                                            <ul>
                                                                                <li><a href=""><i
                                                                                            class="ri-star-line"></i></a>
                                                                                </li>
                                                                                <li><a href=""><i
                                                                                            class="ri-arrow-left-right-line"></i></a>
                                                                                </li>
                                                                                <li><a href=""><i
                                                                                            class="ri-eye-line"></i></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="label"><span>-10%</span></div>
                                                                    </div>
                                                                    <div class="dot-info">
                                                                        <h2 class="dot-title"><a
                                                                                href="/product/detail/656c7265070d4b726e9d9c77">Paris
                                                                                Saint-Germain Jumpman MVP</a></h2>
                                                                        <div class="product-price">
                                                                            <span class="before">$200</span>
                                                                            <span class="current">$180</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="links">
                                                            <div class="list-block">
                                                                <h3 class="dot-title">Categories</h3>
                                                                <ul>
                                                                    <li><a href="#bycats">Jordan</a></li>
                                                                    <li><a href="#">Gym and Trainning</a></li>
                                                                    <li><a href="#">Air Max</a></li>
                                                                    <li><a href="#">Running</a></li>

                                                                </ul>
                                                            </div>
                                                            <div class="list-block">
                                                                <h3 class="dot-title">Brands</h3>
                                                                <ul>
                                                                    <li><a href="#">Nike</a></li>
                                                                    <li><a href="#">Adidas</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/site/aboutus"><span>Our</span></a></li>
                            </ul>

                            <ul>
                                <li><a href=""><span>Specials</span>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="sub-menu list-block">
                                        <li><a href="/category">Nike</a></li><!--Product brands Nike-->
                                        <li><a href="/category">Dior</a></li><!--Product brands Dior-->
                                    </ul>
                                </li>
                                <li><a href="/login"><span>Login</span></a></li> <!--login-->
                                <li><a href=""><span>Contacts</span></a></li> <!--contact-->
                            </ul>
                        </nav>
                        <div class="branding"><a href="/">Shopping</a></div>
                    </div>
                    <!--Header right-->
                    <div class="header-right">
                        <div class="list-inline">
                            <ul>
                                <li><a href="#0" trigger-button data-target="search-float"><i
                                            class="ri-search-line"></i></a></li>
                                <li><a href=""><span class="item-floating">0</span><i
                                            class="ri-shopping-bag-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search-float" class="search-float">
                <div class="container wide">
                    <form action="/" method="get" class="search">
                        <i class="ri-search-line"></i>
                        <input type="search" class="input" id="productName" name="productName"
                            placeholder="Search products">
                        {{!-- <button type="submit"> Search </button> --}}
                        <a href="" class="close-trigger active" close-button>
                            <i class="ri-close-line"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!--Slider-->
        <div class="slider">
            <div class="sliderbox swiper">
                <div class="wrap swiper-wrapper">
                    <!--3 lần-->
                    {{#each productList}}
                    <div class="item swiper-slide">
                        <div class="image">
                            <div class="ob-cover">
                                <a href="/product/detail/{{this._id}}"><img src="/images/{{this.gallery}}"
                                        alt="Gallery"></a>
                            </div>
                            <div class="title-info">
                                <div class="container wide">
                                    <div class="wrap">
                                        <span class="price">${{this.price}}</span>
                                        <h3 class="title">{{this.name}}</h3>
                                        <div class="button">
                                            <a href="/product/detail/{{this._id}}" class="primary-btn">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>

                <div class="custom-pagination">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <!--Guide-->
        <div class="guide">
            <div class="container">
                <div class="wrap">
                    <div class="headding">
                        <h2 class="title">Product Guide</h2>
                    </div>
                    <div class="dotgrid scrollto">
                        <div class="wrapper">
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="/product/detail/656c6a79070d4b726e9d9c71"><img
                                                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e48b21b9-405e-4697-b9b6-b9675a40bb66/jordan-stadium-90-shoes-0cSSz3.png"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="/product/detail/656c6a79070d4b726e9d9c71">
                                        <h3 class="dot-title">Jordan Stadium 90</h3>
                                    </a>
                                    <p class="grey-color">Evolve your game.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="/product/detail/656c6fcd070d4b726e9d9c74"><img
                                                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/1c0c434c-9802-4556-89c7-a8600b2828d8/air-jordan-1-low-shoes-6Q1tFM.png"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="/product/detail/656c6fcd070d4b726e9d9c74">
                                        <h3 class="dot-title">Air Jordan 1 Low</h3>
                                    </a>
                                    <p class="grey-color">Inspired by the original that debuted in 1985</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="/product/detail/656c70df070d4b726e9d9c75"><img
                                                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/23fd664e-2962-4ea1-8389-cf98ac2dd2fc/air-max-90-shoes-hkwJRC.png"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="/product/detail/656c70df070d4b726e9d9c75">
                                        <h3 class="dot-title">Nike Air Max 90</h3>
                                    </a>
                                    <p class="grey-color">Produced at the intersection of art, music and culture, this
                                        champion running shoe helped define the '90s.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="/product/detail/656c71ae070d4b726e9d9c76"><img
                                                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/04e23e3d-e3ee-4830-8969-e757aef41911/jordan-max-aura-5-shoes-ZBZ4Pz.png"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="/product/detail/656c71ae070d4b726e9d9c76">
                                        <h3 class="dot-title">Jordan Max Aura 5</h3>
                                    </a>
                                    <p class="grey-color">Whenyou need a shoe that's ready 24/7, it's gotta be the Max
                                        Aura 5.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="/product/detail/656c7265070d4b726e9d9c77"><img
                                                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/7ef88efc-01ff-427e-9def-b84d5a344053/paris-saint-germain-jumpman-mvp-shoes-LxppNW.png"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="/product/detail/656c7265070d4b726e9d9c77">
                                        <h3 class="dot-title">Paris Saint-Germain Jumpman MVP</h3>
                                    </a>
                                    <p class="grey-color">Welcome to Paris. For our latest PSG Collab, we combined
                                        iconic elements from the AJ6, 7 and 8 in a new design.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="/product/detail/657bc31bf66e6a5f44494fe9"><img
                                                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/853e7895-81cd-4327-b29d-4c6661c4a8a4/legend-essential-2-workout-shoes-5z5dH3.png"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="/product/detail/657bc31bf66e6a5f44494fe9">
                                        <h3 class="dot-title">Nike Legend Essential 2</h3>
                                    </a>
                                    <p class="grey-color">The Nike Legend Essential 2 comes equipped with a flat, stable
                                        heel, flexibility under the toes and side-to-side support.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Caousel-->
        <div class="carousel">
            <div class="container">
                <div class="wrap">
                    <div class="heading">
                        <h2 class="title">New Arrivals</h2>
                    </div>
                    <div class="inner-wrapper">
                        <div class="dotgrid carouselbox swiper">
                            <!--Carousel-->
                            <!--12 lấn-->
                            <div class="wrapper swiper-wrapper">
                                {{#each productList}}
                                <div class="item swiper-slide">
                                    <div class="dot-image">
                                        <a href="/product/detail/{{this._id}}" class="product-permalink"></a>
                                        <div class="thumbnail">
                                            <img src="/images/{{this.gallery}}" alt="Gallery">
                                        </div>
                                        <div class="thumbnail hover">
                                            <img src="/images/{{this.thumbnail}}" alt="Thumbnail">
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li><a href=""><i class="ri-star-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                </li>
                                                <li><a href="/product/detail/{{this._id}}"><i
                                                            class="ri-eye-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="label"><span>-25%</span></div>
                                    </div>
                                    <div class="dot-info">
                                        <h2 class="dot-title"><a href="">{{this.name}}</a></h2>
                                        <div class="product-price">
                                            <span class="before">${{this.price}}</span>
                                            <span class="current">${{this.discount}}</span>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div>

                        <div class="nav">
                            <div class="swiper-button-next">
                                <i class="ri-arrow-right-line"></i>
                            </div>
                            <div class="swiper-button-prev">
                                <i class="ri-arrow-left-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bycats-->
        <div class="bycats">
            <div class="container">
                <div class="wrap">
                    <div class="heading sort-list tabs">
                        <span class="grey-color">In</span>
                        <div class="wrap">
                            <h3 class="opt-trigger">
                                <span class="value">Jordan</span>
                                <i class="ri-arrow-down-s-line"></i>
                            </h3>
                            <ul>
                                <li class="active"><a data-id="jordan" href="#0" class="tabbed-trigger">Jordan</a>
                                </li>
                                <li><a data-id="gym" href="#0" class="tabbed-trigger">Gym</a></li>
                                <li><a data-id="running" href="#0" class="tabbed-trigger">Running</a></li>
                                <li><a data-id="airmax" href="#0" class="tabbed-trigger">Air Max</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabbed">
                        <div id="jordan" class="sort-data active">
                            <div class="dotgrid">
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/656c6a79070d4b726e9d9c71"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e48b21b9-405e-4697-b9b6-b9675a40bb66/jordan-stadium-90-shoes-0cSSz3.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/0e9512c7-a0e5-4692-83f9-0cb7271ac9d0/jordan-stadium-90-shoes-0cSSz3.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-25%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/656c6a79070d4b726e9d9c71">Jordan
                                                    Stadium 90</a></h2>
                                            <div class="product-price">
                                                <span class="before">$170</span>
                                                <span class="current">$128</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/656c6fcd070d4b726e9d9c74"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/1c0c434c-9802-4556-89c7-a8600b2828d8/air-jordan-1-low-shoes-6Q1tFM.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/a21d548e-eb3d-4a1b-a086-fffc780f0e0a/air-jordan-1-low-shoes-6Q1tFM.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-30%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a href="/product/detail/656c6fcd070d4b726e9d9c74">Air
                                                    Jordan 1 Low</a></h2>
                                            <div class="product-price">
                                                <span class="before">$134</span>
                                                <span class="current">$96</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/656c71ae070d4b726e9d9c76"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/04e23e3d-e3ee-4830-8969-e757aef41911/jordan-max-aura-5-shoes-ZBZ4Pz.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/35817c62-6ed8-461a-8d1e-38ce255c7b13/jordan-max-aura-5-shoes-ZBZ4Pz.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-5%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/656c71ae070d4b726e9d9c76">Jordan Max Aura
                                                    5</a></h2>
                                            <div class="product-price">
                                                <span class="before">$158</span>
                                                <span class="current">$50</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c1cdde5afc31c7478ca8e"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/150aed98-5514-4943-a51d-ce8f86113731/jordan-stay-loyal-2-shoes-sDkgDk.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cd113b8d-08d7-46ac-81d5-3683ca62f04c/jordan-stay-loyal-2-shoes-sDkgDk.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>0%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c1cdde5afc31c7478ca8e">Jordan Stay Loyal
                                                    2</a></h2>
                                            <div class="product-price">
                                                {{!-- <span class="before">$134</span> --}}
                                                <span class="current">$138</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="gym" class="sort-data">
                            <div class="dotgrid">
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657bc136f66e6a5f44494fe8"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/31a5bed1-b848-4b5e-a01f-364b250c862e/free-metcon-5-workout-shoes-7wNZNf.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/c40ca733-fac9-4365-aae5-941e27cf18da/free-metcon-5-workout-shoes-7wNZNf.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-10%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657bc136f66e6a5f44494fe8">Nike Free Metcon
                                                    5</a></h2>
                                            <div class="product-price">
                                                <span class="before">$145</span>
                                                <span class="current">$131</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657bc31bf66e6a5f44494fe9"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/853e7895-81cd-4327-b29d-4c6661c4a8a4/legend-essential-2-workout-shoes-5z5dH3.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/dcb9c3df-d6c5-4681-b4de-d8056d2b642c/legend-essential-2-workout-shoes-5z5dH3.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-20%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657bc31bf66e6a5f44494fe9">Nike Free Metcon
                                                    5</a></h2>
                                            <div class="product-price">
                                                <span class="before">$79</span>
                                                <span class="current">$68</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c216be5afc31c7478ca8f"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/ece7a799-cdf1-45df-aa17-b744080b8e88/air-zoom-tr-1-workout-shoes-Zq4r1h.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/0880355a-ba9c-43a4-9cd7-511c18c4f113/air-zoom-tr-1-workout-shoes-Zq4r1h.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {{!-- <div class="label"><span>-0%</span></div> --}}
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657bc31bf66e6a5f44494fe9">Nike Air Zoom TR
                                                    1</a></h2>
                                            <div class="product-price">
                                                {{!-- <span class="before">$79</span> --}}
                                                <span class="current">$145</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c22b8e5afc31c7478ca90"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/163d52c7-5698-4e5f-a2b6-005a4332858d/metcon-8-workout-shoes-p9rQzn.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/8162f889-d34d-4a37-8aab-0f21e9e4ba85/metcon-8-workout-shoes-p9rQzn.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-30%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c22b8e5afc31c7478ca90">Nike Metcon 8</a>
                                            </h2>
                                            <div class="product-price">
                                                <span class="before">$158</span>
                                                <span class="current">$111</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="running" class="sort-data">
                            <div class="dotgrid">
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c2512e5afc31c7478ca92"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/1e4ffa00-ad76-4d6f-9ada-c4d73234dd26/alphafly-2-road-racing-shoes-cVPHCD.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/d864e108-6412-4bfd-9f6f-8a7158cfc7db/alphafly-2-road-racing-shoes-cVPHCD.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-5%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c2512e5afc31c7478ca92">Nike Alphafly 2</a>
                                            </h2>
                                            <div class="product-price">
                                                <span class="before">$333</span>
                                                <span class="current">$317</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c2605e5afc31c7478ca93"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/8dae6975-64bf-4460-a9c4-8180760d986e/vaporfly-3-road-racing-shoes-xsDgvM.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/bfc68532-d8f6-464a-9e24-8fc317ece8d7/vaporfly-3-road-racing-shoes-xsDgvM.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-5%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c2605e5afc31c7478ca93">Nike Vaporfly 3</a>
                                            </h2>
                                            <div class="product-price">
                                                <span class="before">$273</span>
                                                <span class="current">$260</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c2719e5afc31c7478ca95"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/9cb75678-361f-408a-8974-da1fc4a567c2/alphafly-3-proto-road-racing-shoes-W112t4.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/5c402be1-2ffe-4a09-bcbd-789cf1e249f3/alphafly-3-proto-road-racing-shoes-W112t4.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-5%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c2719e5afc31c7478ca95">Nike Alphafly 3
                                                    Proto</a></h2>
                                            <div class="product-price">
                                                <span class="before">$333</span>
                                                <span class="current">$307</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c27cce5afc31c7478ca96"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/6af3afea-bd33-4521-a64c-412e91567175/pegasus-trail-4-trail-running-shoes-LP9MFR.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/7b679a82-f66d-4cf7-88f3-efffe6611037/pegasus-trail-4-trail-running-shoes-LP9MFR.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-15%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c27cce5afc31c7478ca96">Nike Pegasus Trail
                                                    4</a></h2>
                                            <div class="product-price">
                                                <span class="before">$158</span>
                                                <span class="current">$134</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c27cce5afc31c7478ca96"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/6af3afea-bd33-4521-a64c-412e91567175/pegasus-trail-4-trail-running-shoes-LP9MFR.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/7b679a82-f66d-4cf7-88f3-efffe6611037/pegasus-trail-4-trail-running-shoes-LP9MFR.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-15%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c27cce5afc31c7478ca96">Nike Pegasus Trail
                                                    4</a></h2>
                                            <div class="product-price">
                                                <span class="before">$158</span>
                                                <span class="current">$134</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="airmax" class="sort-data">
                            <div class="dotgrid">
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c292fe5afc31c7478ca98"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/41cc9410-6ecd-4693-ac9c-b79e9519bdf4/air-max-90-gore-tex-shoes-K3mBRb.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/c13b41ba-df06-497b-aa7e-bfd1afb0aacc/air-max-90-gore-tex-shoes-K3mBRb.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {{!-- <div class="label"><span>-15%</span></div> --}}
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c292fe5afc31c7478ca98">Nike Air Max 90
                                                    GORE-TEX</a></h2>
                                            <div class="product-price">
                                                {{!-- <span class="before">$158</span> --}}
                                                <span class="current">$194</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c2a1ae5afc31c7478ca9a"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/6e0d1353-b2f1-41ab-a9a2-3f7c03000cf0/air-max-scorpion-flyknit-shoes-DP54Sv.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/fff700b4-65fb-48cc-9175-d012bba6a47e/air-max-scorpion-flyknit-shoes-DP54Sv.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-5%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c2a1ae5afc31c7478ca9a">Nike Air Max
                                                    Scorpion Flyknit</a></h2>
                                            <div class="product-price">
                                                <span class="before">$315</span>
                                                <span class="current">$300</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c2b2ee5afc31c7478ca9b"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/589c638f-db6c-4fc7-8ebc-dbcaec8abe9e/air-vapormax-2023-flyknit-shoes-4LVgjW.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/5258feee-44f3-4b4e-a754-753188bdcac1/air-vapormax-2023-flyknit-shoes-4LVgjW.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {{!-- <div class="label"><span>-5%</span></div> --}}
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c2b2ee5afc31c7478ca9b">Nike Air VaporMax
                                                    2023 Flyknit</a></h2>
                                            <div class="product-price">
                                                {{!-- <span class="before">$315</span> --}}
                                                <span class="current">$255</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c2c00e5afc31c7478ca9c"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/671fc01d-5205-4a54-8349-0b9eae869dac/air-max-pulse-shoes-QShhG8.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/d30159c2-ba5c-4959-985b-80d614ff83db/air-max-pulse-shoes-QShhG8.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-10%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c2c00e5afc31c7478ca9c">Nike Air Max
                                                    Pulse</a></h2>
                                            <div class="product-price">
                                                <span class="before">$184</span>
                                                <span class="current">$163</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <a href="/product/detail/657c2cdae5afc31c7478ca9d"
                                                class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/589ef4f9-0fbf-424f-9ccc-ae33e3c3bc3b/custom-nike-air-max-95-unlocked-by-you.png"
                                                    alt="">
                                            </div>
                                            <div class="thumbnail hover">
                                                <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/cee65cf2-7833-4dae-836b-18c0f67514cc/custom-nike-air-max-95-unlocked-by-you.png"
                                                    alt="">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a>
                                                    </li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-5%</span></div>
                                        </div>
                                        <div class="dot-info">
                                            <h2 class="dot-title"><a
                                                    href="/product/detail/657c2cdae5afc31c7478ca9d">Nike Air Max 95</a>
                                            </h2>
                                            <div class="product-price">
                                                <span class="before">$300</span>
                                                <span class="current">$285</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Banner-->
                <div class="banner">
                    <div class="container">
                        <div class="wrap">
                            <div class="content">
                                <span>Promo</span>
                                <h3 class="title">Get ready!<br>Summer is coming now..</h3>
                                <div class="button"><a href="/category" class="primary-btn">Let's do it</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog-->
                <div class="fromblog">
                    <div class="container">
                        <div class="wrap">
                            <div class="heading">
                                <h2 class="title">From the blog</h2>
                            </div>
                            <div class="dotgrid scrollto">
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="dot-image">
                                            <div class="thumbnail hover">
                                                <a href="">
                                                    <img src="./images/blog_01.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="dot-info">
                                            <a href="">Feeling</a>
                                            <h3 class="dot-title">
                                                <a href="">How do you feel today?</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <div class="thumbnail hover">
                                                <a href="">
                                                    <img src="./images/blog_02.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="dot-info">
                                            <a href="">Tips</a>
                                            <h3 class="dot-title">
                                                <a href="">Property wear shoe on gymerday</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dot-image">
                                            <div class="thumbnail hover">
                                                <a href="">
                                                    <img src="./images/blog_03.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="dot-info">
                                            <a href="">Trainning</a>
                                            <h3 class="dot-title">
                                                <a href="">What should I wear this shoes?</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button">
                                <a href="" class="secondary-btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Insta-->
                <div class="frominsta">
                    <div class="container">
                        <div class="wrap">
                            <div class="heading">
                                <h2 class="title">Popular Instagram Photos</h2>
                            </div>
                        </div>
                        <div class="dotgrid scrollto">
                            <div class="wrapper">
                                <div class="item">
                                    <div class="dot-image">
                                        <a href="https://www.instagram.com/p/CzEUaG_rvXM/?img_index=1"></a>
                                        <div class="thumbnail">
                                            <img src="./images/ig_01.jpg" alt="">
                                        </div>
                                        <div class="actions">
                                            <i class="ri-instagram-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="dot-image">
                                        <a href="https://www.instagram.com/p/CzeR4nGuRCc/?img_index=1"></a>
                                        <div class="thumbnail">
                                            <img src="./images/ig_05.jpg" alt="">
                                        </div>
                                        <div class="actions">
                                            <i class="ri-instagram-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="dot-image">
                                        <a href="https://www.instagram.com/p/CzUaK5YyLc3/?img_index=1"></a>
                                        <div class="thumbnail">
                                            <img src="./images/ig_02.jpg" alt="">
                                        </div>
                                        <div class="actions">
                                            <i class="ri-instagram-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="dot-image">
                                        <a href="https://www.instagram.com/p/C0CVBDMxLqh/?img_index=1"></a>
                                        <div class="thumbnail">
                                            <img src="./images/ig_04.jpg" alt="">
                                        </div>
                                        <div class="actions">
                                            <i class="ri-instagram-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="dot-image">
                                        <a href="https://www.instagram.com/p/C0VjrHVL_55/"></a>
                                        <div class="thumbnail">
                                            <img src="./images/ig_03.jpg" alt="">
                                        </div>
                                        <div class="actions">
                                            <i class="ri-instagram-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="inner-footer">
            <div class="container">
                <div class="wrap">
                    <div class="top">
                        <div class="subscribe">
                            <h3>Get voucher from us</h3>
                            <p class="grey-color">Enter your email be the first to know about new collections from
                                us
                            </p>
                            <form action="" class="search">
                                <i class="ri-mail-line"></i>
                                <input type="text" class="input" placeholder="Enter your email">
                                <input type="submit" class="submit">
                                <i class="ri-arrow-right-line"></i>
                            </form>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Service</h3>
                            <ul>
                                <li><a href="/site/aboutus">About us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Pages</h3>
                            <ul>
                                <li><a href="/category">Category Product</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Cart</a></li>
                                <li><a href="/user/checkout">Checkout</a></li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Pages</h3>
                            <div class="comp-address grey-color">
                                <p>227 Nguyễn Văn Cừ Street<br>District 5,Ward 4,HCM City</p>
                                <p>
                                    <a href="">+84928928329</a>
                                    <br>
                                    <a href="">shoppingshoes@gmail.com</a>
                                </p>
                                <p>
                                    Weekdays: 9AM to 5PM<br>
                                    Saturday: 9AM to 3PM<br>
                                    Sunday: Closed
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="list-inline">
                            <ul>
                                <li><a href="https://www.facebook.com/bach0807/"><i class="ri-facebook-line"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/"><i class="ri-instagram-line"></i></a></li>
                                <li><a href="https://github.com/"><i class="ri-github-line"></i></a></li>
                                <li><a href="https://www.pinterest.com/search/pins/?q=nike%20450*600&rs=typed"><i
                                            class="ri-pinterest-line"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>© 2023 Shopping, Inc. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="overlay" data-overlay></div>
<div id="mobile-menu" class="mobile-menu">
    <div class="wrap">
        <a href="" class="close-trigger active" close-button>
            <i class="ri-close-line"></i>
        </a>
        <div class="main-menu scrollto">
            <nav class="wrapper">
                <ul>
                    <li><a href=""><span>Home</span></a></li>
                    <li class="has-child"><a href="">
                            <span>Products</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                        </a>
                        <ul class="sub-menu list-block">
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Balenciaga</a></li>
                            <li><a href="#">Vans</a></li>
                            <li><a href="#">New Balance</a></li>
                            <li><a href="#">MLB</a></li>
                            <li><a href="#">Puma</a></li>
                            <li><a href="#">Supreme</a></li>
                            <li><a href="#">Louis Vuition</a></li>
                            <li><a href="#">Dolce & Gabbana</a></li>
                            <li><a href="#">Gucci</a></li>
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Armani</a></li>
                            <li><a href="#">Channel</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Gucci</a></li>
                            <li><a href="#">Hugo Boss</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>Discount</span></a></li>
                    <li class="has-child">
                        <a href="">
                            <span>Specials</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                        </a>
                        <ul class="sub-menu list-block">
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Balenciaga</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>Contacts</span></a></li>


                </ul>
            </nav>
            <div class="button">
                <a href="/login" class="secondary-btn">Login</a>
            </div>
        </div>
    </div>
</div>