<style>
    @import url(/stylesheets/createcourse.css);
</style>
<style type="stylesheets">
    @import url(https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous");
</style>
<!-- header section starts  -->






<!-- header section ends -->

<!--body section starts -->
<section class="home" id="home">
    <div class="content">
        <h3 class="wrapper-header">
            <a href=""><i class="ri-arrow-right-s-fill"></i> Edit Your Courses</a>
            <br>

        </h3>
        <form action="">
            <p class="wrapper-input">
                <label for="subject">Course Name:</label>
                <input type="" id="subject" name="subject" placeholder="Enter your course" value="{{course.name}}"
                    required>
            </p>

            <p class="wrapper-input">
                <label for="schedule">Schedule:</label>
                <input type="" id="schedule" name="schedule" placeholder="Enter your schedule"
                    value="{{course.schedule}}" required>
            </p>

            <p class="wrapper-input">
                <label for="faculty">Faculty:</label>
                <select name="faculty" id="faculty" check>
                    <option value="none" {{#if (eq course.faculty 'none' )}}selected{{/if}}>None</option>
                    <option value="Công nghệ thông tin" {{#if (eq course.faculty 'Công nghệ thông tin'
                        )}}selected{{/if}}>Công nghệ thông tin</option>
                    <option value="Toán - Tin học" {{#if (eq course.faculty 'Toán - Tin học' )}}selected{{/if}}>Toán-Tin
                        học</option>
                    <option value="Vật lý - Vật lý Kỹ thuật" {{#if (eq course.faculty 'Vật lý - Vật lý Kỹ thuật'
                        )}}selected{{/if}}>Vật lý - Vật lý Kỹ thuật</option>
                    <option value="Hóa học" {{#if (eq course.faculty 'Hóa học' )}}selected{{/if}}>Hóa học</option>
                    <option value="Sinh học & Công nghệ Sinh học" {{#if (eq
                        course.faculty 'Sinh học & Công nghệ Sinh học' )}}selected{{/if}}>Sinh học & Công nghệ Sinh học
                    </option>
                    <option value="Môi trường" {{#if (eq course.faculty 'Môi trường' )}}selected{{/if}}>Môi trường
                    </option>
                    <option value="Khoa học & Công nghệ vật liệu" {{#if (eq
                        course.faculty 'Khoa học & Công nghệ vật liệu' )}}selected{{/if}}>Khoa học & Công nghệ vật liệu
                    </option>
                    <option value="Địa chất" {{#if (eq course.faculty 'Địa chất' )}}selected{{/if}}>Địa chất</option>
                    <option value="Điện tử Viễn thông" {{#if (eq course.faculty 'Điện tử Viễn thông' )}}selected{{/if}}>
                        Điện tử Viễn thông</option>
                </select>
            </p>



            <p class="wrapper-input">
                <label for="school">Student Course:</label>
                <select name="school" id="school" check>
                    <option value="none" {{#if (eq course.studentCourse 'none' )}}selected{{/if}}>None</option>
                    <option value="K19" {{#if (eq course.studentCourse 'K19' )}}selected{{/if}}>K19</option>
                    <option value="K20" {{#if (eq course.studentCourse 'K20' )}}selected{{/if}}>K20</option>
                    <option value="K21" {{#if (eq course.studentCourse 'K21' )}}selected{{/if}}>K21</option>
                    <option value="K22" {{#if (eq course.studentCourse 'K22' )}}selected{{/if}}>K22</option>
                    <option value="K23" {{#if (eq course.studentCourse 'K23' )}}selected{{/if}}>K23</option>
                </select>
            </p>


            <p class="wrapper-input">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" placeholder="Enter your price/ Week" value="{{course.price}}"
                    required>
            </p>

            <p class="wrapper-input">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Enter your description about course"
                    value="{{course.description}}" required>
            </p>

            <p class="wrapper-input">
                <label for="status">Status:</label>
                <label class="switch">
                    <input name="status" id="status" type="checkbox" {{#if (eq course.status 'Available'
                        )}}checked{{/if}}>
                    <span class="slider round"></span>
                </label>
            </p>

            <p class="wrapper-input">
                <button class="btn" id="btn-submit" type="submit">Edit Course</button>
            </p>
        </form>
    </div>
    <div class="image">
        <img src="/images/{{course.tutor.avatar}}">
    </div>
    </div>

</section>

<!--body section ends -->
<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a class="link" href="#home"> <i class="fas fa-angle-right"></i> Home</a>
            <a class="link" href="#about"> <i class="fas fa-angle-right"></i> About</a>
            <a class="link" href="./category.hbs"> <i class="fas fa-angle-right"></i>Tutor</a>
            <a class="link" href="#services"> <i class="fas fa-angle-right"></i>News & Blog</a>
            <a class="link" href="#contact"> <i class="fas fa-angle-right"></i> Contact</a>
            <a class="link" href="#"> <i class="fas fa-angle-right"></i> Login</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="link"> <i class="fas fa-phone"></i>0942607590</a>
            <a href="#" class="link"> <i class="fas fa-phone"></i>0942492722</a>
            <a href="#" class="link"> <i class="fas fa-envelope"></i> lynhathao.it@gmail.com </a>
            <a href="#" class="link"> <i class="fas fa-map"></i>227 Nguyễn Văn Cừ, District 5, HCMC</a>
        </div>

        <div class="box">
            <h3>Subscribe</h3>
            <p>Join Our Mailing List & to get our news.</p>
            <form action="">
                <input type="email" name="" placeholder="enter your email address" id="" class="email">
                <input type="submit" value="subscribe" class="btn">
            </form>
            <div class="share">
                <a href="https://www.facebook.com/LNH.1105" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

    <div class="credit"> © Created by <span>TUS Team</span> | all rights reserved! </div>

</section>

<!-- footer section ends -->

<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    let menu = document.querySelector('#menu-btn');
    let navbarLinks = document.querySelector('.header .navbar .links');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbarLinks.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbarLinks.classList.remove('active');

        if (window.scrollY > 60) {
            document.querySelector('.header .navbar').classList.add('active');
        } else {
            document.querySelector('.header .navbar').classList.remove('active');
        }
    }

    // let profilePic = document.getElementById("profile-pic");
    //  let inputFile = document.getElementById("input-file");

    // inputFile.onchange = function () {

    //      profilePic.src = URL.createObjectURL(inputFile.files[0]);
    //  }


    //let idCourse = {{ course._id }}

    // handle submit edit profile
    const submit = $('#btn-submit');
    submit.addEventListener('click', async function () {
        event.preventDefault();

        const curUrl = new URL(window.location.href);
        let isError = false;
        if ($('#status').checked == true) {
            $('#status').value = "Available"
        } else {
            $('#status').value = "Unavailable"
        }
        const formData = {
            'name': $('#subject').value,
            'schedule': $('#schedule').value,
            'faculty': $('#faculty').value,
            'studentCourse': $('#school').value,
            'price': $('#price').value,
            'description': $('#description').value,
            'status': $('#status').value,
        };
        console.log(`/courses/{{course._id}}`)
        await fetch(`/courses/{{course._id}}`, {
            method: 'PUT',
            body: JSON.stringify(formData),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            },
        }).then(response => {
            if (!response.ok) {
                isError = true;
                console.log('haha')
            }

            return response.json();
        })
            .then(data => {
                if (isError == true) {
                    alert(data.error)
                } else {
                    const alertReview = $('.alert-success')
                    alertReview.innerHTML = `${data.msg}`
                    alertReview.style.opacity = "1";
                    alertReview.style.display = "block"

                    setTimeout(function () {
                        alertReview.style.opacity = "0";
                        setTimeout(function () {
                            alertReview.style.display = "none";
                        }, 500);
                    }, 3000);

                }

            })
            .catch(error => {
                // Handle other errors here
                console.error('Error:', error);
            });
    });

</script>